form {
    text-align: center;
    margin: 15px 100px;
    width: auto;
    position: relative;
}

.search_form__field {
    font-family: inherit;
    width: 100%;
    border: 1px solid darkslategray;
    box-shadow: 4px 2px 2px rgba(1, 1, 1, 0.250);
    border-radius: 20px;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 15px;
    background: transparent;
    transition: border-color 0.2s;
}

.search_form__field::placeholder {
    color: grey;
}

.search_form__field:hover {
    box-shadow: 4px 2px 2px rgba(1, 1, 1, 0.500);
}

.search_form__field:focus {
    box-shadow: 4px 2px 2px rgba(1, 1, 1, 0.500);
}

.clear_button {
    position: absolute;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    right: -25px;
    top: 5px;
    height: 30px;
    width: 30px;
    z-index: 2;
    border: none;
    height: 30px;
    cursor: pointer;
    color: black;
    background-color: white;
    transform: translateX(2px);
}